/* primeira barra do header */

.header-row-1 {
    height: 66px;
    display: flex;
    align-items: center;
}

.header-row-1-content {
    height: 40px;
    display: flex;
    justify-content: space-around;
}

.logo-link {
    display: block;
    height: 40px;
    margin: 0 6px;
}

.bag-link {
    display: block;
    height: 100%;
    width: 40px;
    padding: 6px;
}

.container-btn-menu {
    display: none;
    margin: 0 10px 0 16px;
}

.btn-menu-mobile {
    padding-top: 10px;
    margin: 0;
}

/* início input de busca */

.search-bar {
    max-width: 735px;
    width: 100%;
}

.search-bar-form {
    max-width: 735px;
    height: 40px;
    border-radius: 5px;
    background-color: #eceff5;
    position: relative;
}

.search-bar_label {
    overflow: hidden;
    position: absolute;
    z-index: -99999;
    color: transparent;
}

.search-bar-input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #eceff5;
    border: 1px solid #dfe4ef;
    padding: 7px 10px;
}

.search-bar-btn {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}

/* fim input do busca */

/* menus info e login */

.btn-info {
    background: none;
    display: flex;
    margin: 0 10px;
}

.btn-info-content {
    display: flex;
    height: 100%;
}

.btn-info-content>img:first-of-type {
    width: 30px;
    padding-right: 3px;
}

.btn-info-content>img:last-of-type {
    width: 20px;
    padding-left: 3px;
}

.btn-info-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
}

.btn-info-text-header {
    font-size: 13px;
    color: #5f6872;
}

.btn-info-text-subheader {
    font-size: 13px;
    font-weight: 600;
    color: #000;
}

/* segunda barra */

.header-row-2 {
    height: 50px;
    background-color: #eceff5;
}

ul {
    font-weight: 600;

    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

ul li:first-of-type p {
    color: #e95e9c;
}

.row-2-list-iten a {
    display: block;
    padding: 16px 0 13px 0;
}

.menu-list {
    position: relative;
    white-space: nowrap;
    align-items: center;
    height: 100%;
}

.row-2-list-iten:hover,
.row-2-list-iten:focus-within {
    border-bottom: 2px solid blue;
}

.sublist-iten {
    display: none;
    height: 448px;
    background-color: #dfe4ef;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 9999;
}

.row-2-list-iten:hover .sublist-iten,
.row-2-list-iten:focus-within .sublist-iten {
    display: block;
}

.menu-mobile {
    display: none;
}