@media screen and (max-width: 1000px) {
    .header-row-info {
        display: none;
    }

    
    .container-btn-menu {
        display: block;
    }

    .search-bar-btn {
        left: 5px;
    }

    .search-bar-input {
        padding: 7px 10px 7px 35px;
    }

    .menu-mobile {
        display: flex;
        padding-left: 10px;
        align-items: center;
        height: 100%;
    }

    .menu-mobile div {
        padding-right: 20px;
    }

    .menu-desktop {
        display: none;
    }
}

@media screen and (max-width: 665px) {

    .menu-list {
        overflow: scroll;
    }

}
